    <style>body {
        background: -webkit-linear-gradient(55deg,
                #161616 0%,
                #161616 50%,
                #161616 100%);
    }

    /*Top bar*/
    body.nr-dashboard-theme md-toolbar,
    body.nr-dashboard-theme md-content md-card {
        background-color: transparent !important;
        color: #FFFFFF !important;
    }


    /*Left menu*/
    /*Sidebar*/
        body.nr-dashboard-theme md-sidenav {
            color: white !important;
            background-color: rgba(0, 0, 0, 0) !important;
        }

        /* Añadir espacio entre los botones */
        /* md-list-item {
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }*/

        md-list-item._md-button-wrap {
            margin: 10px;
        }

        nr-menu-item-active {
            border-right: 4px solid #ffe600;
        }

        /*Hover selection*/
        a.md-no-style,
        button.md-no-style {
            border-radius: 10px !important;
        }

        .md-button.md-default-theme:not([disabled]).md-focused,
        .md-button:not([disabled]).md-focused,
        .md-button.md-default-theme:not([disabled]):hover,
        .md-button:not([disabled]):hover {
            background-color: none !important;
        }

        /*Selected*/
        .nr-menu-item-active div button {
            /* border-right: 4px solid rgb(255, 255, 255) !important;
            border-left: 4px solid rgb(255, 255, 255) !important; */
            /* background-color: #ff730000; */
            border: none !important;
        }

        md-list-item.md-no-proxy.md-button, md-list-item .md-no-style.md-button{
            margin: 0px 5px !important;
            width: 95% !important;
        }

    /*List*/
    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {
        color: white !important;
        background-color: rgb(165, 75, 40) !important;
        border-radius: 10px !important;
    }




    /*Groups*/
    ui-card-panel {
        background-color: rgba(255, 255, 255, 0.089) !important;
        border-radius: 10px !important;
    }

    .nr-dashboard-theme ui-card-panel {
        border: none !important;
    }

    /*Name groups*/
    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {
        color: rgba(255, 255, 255, 0.5) !important;
    }
  

    /*Bouttons*/
        .nr-dashboard-theme .nr-dashboard-button .md-button {
            background-color: rgba(255, 255, 255, .1) !important;
        }

        .md-button {
            border-radius: 10px !important;
        }


    /*Dropdown menu*/
    /* Color de fondo en el efecto de abrir */
    .nr-dashboard-theme md-select-menu {
        background-color: rgb(255, 255, 255) !important;
        /* background-color: transparent !important; */
    }

    .nr-dashboard-theme .md-select-menu-container {
        border-radius: 10px !important;
        border: none !important;
    }

    .nr-dashboard-theme md-select-menu md-option[selected] {
        color: white !important;
        background-color: #1a3566 !important;
    }

    /*Template*/
    md-card>img,
    md-card>md-card-header img,
    md-card md-card-title-media img {
        border-radius: 10px !important;
    }

    /* Color picker text BG */
    .nr-dashboard-theme .color-picker-input-wrapper>input {
        color: white !important;
        background-color: transparent !important;
    }

    </style>